[Unit]
Description=Run apiwatch every 5 minutes

[Timer]
OnBootSec=30s
OnUnitInactiveSec=5min
AccuracySec=30s
Persistent=true
Unit=apiwatch.service

[Install]
WantedBy=timers.target
